[mysqld]
# Параметры безопасности
user = mysql
pid-file = /var/lib/mysql/mysqld.pid    # Указываем безопасный путь для pid-файла
socket = /var/run/mysqld/mysqld.sock    # Указываем путь к сокету
port = 3306                             # Порт по умолчанию для MySQL

# Настройки для файлов журналов и данных
datadir = /var/lib/mysql                 # Путь к директории данных
tmpdir = /tmp                            # Путь к временной директории

# Конфигурация буферов и кешей
innodb_buffer_pool_size = 256M          # Размер буфера InnoDB (можно настроить по объему памяти)
innodb_log_file_size = 64M              # Размер лог-файлов InnoDB

# Логирование
log_error = /var/log/mysql/error.log    # Путь к файлу ошибок

# Другие параметры
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"  # Режим SQL
character-set-server = utf8mb4         # Стандартная кодировка
collation-server = utf8mb4_unicode_ci  # Стандартная колlation для UTF-8

# Настройки для сервера
bind-address = 0.0.0.0                 # Разрешить подключения с любого IP (в Docker нужно для связи между контейнерами)
skip-symbolic-links = 0                # Убираем возможность использования символических ссылок

